.menu {
	height: 100vh;
	width: 100vw;
	opacity: 0;
	z-index: 1060;
	transition: all 1.1s;
	transition-delay: 0.3s;
	ul {
		li {
			font-size: 20px;
			color: white;
			min-height: 45px;
			padding: 15px;
			text-align: center;
			a {
				cursor: pointer;
			}
		}
	}
}

.navbar-nav {
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1em;
	font-weight: 600;
	white-space: nowrap;
	li {
		&:hover {
			color: #87b830;
			a {
				color: #87b830;
			}
		}
	}
}
.webnav {
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	font-size: 1em;
}